<div class="card">
  <header class="card-header">
    <h3>Edit Post</h3>
  </header>
  <form class="card-body edit-post-form">
    <div class="form-group">
      <label for="post-title" class="form-label">Title</label>
      <input name="post-title" type="text" value="{{title}}" class="form-input" />
    </div>
    <div class="form-group">
      <label for="content" class="form-label">Content</label>
      <textarea name="content" class="form-textarea">{{body}}</textarea>
    </div>
    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Update Post</button>
      <button type="button" class="btn btn-danger delete-post-btn">Delete Post</button>
    </div>
  </form>
</div>

<script src="/js/edit.js"></script>
```